<h2>Свяжитесь с нами</h2>

<form action="/contacts" method="POST">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Введите ваше сообщение</label>
    <textarea name="usermessage" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>